<div class="main">
	<div class="containter">
        <div class="row">
               <div class="col-sm-12 col-md-8 col-md-offset-2">
                         <div class="signup" style="margin-top:30px;">
                              <form action="/admin/" method="post">
                                   <fieldset>
                                        <div class="social_sign" style="margin-bottom:20px;">
                                             <?php if($this->error){ ?>
                                                  <div class="alert alert-danger"><?php echo $this->error; ?></div>
                                             <?php }   ?>

                                             <h3>Panel de administración</h3>
                                             <a><i class="fa fa-user"></i></a> 
                                         </div>
                                        <div class="row">
                                             <div class="col-lg-2"></div>
                                             <div class="col-lg-8">
                                                  <input id="Emailaddress" name="username" placeholder="Email address" class="form-control" required="" type="text">
                                                  <input id="Password" name="password" placeholder="Password" class="form-control" required="" type="password">
                                             </div>
                                             <div class="col-lg-2"></div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg">Login</button>
                                   </fieldset>
                              </form>
                         </div>
                    </div>
               </div>
          </section>
	</div>
</div>