





.ng-hide, .animate.ng-leave {
 
  opacity:0;
}

.div.ng-hide-add, .div.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.animate.ng-enter {
   -webkit-transition: 0.2s linear all; /* Safari/Chrome */
 transition: 0.2s linear all; /* All other modern browsers and IE10+ */

 /* The animation preparation code */
	 opacity: 0;
} 

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
 opacity: 1;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
 opacity: 0; 	
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.angular-google-map-container { height: 400px; }

.ui-pnotify-history-container { display: none;}

.red{color:#e00;}
.green{color:#0e0;}