
@font-face {
    font-family: 'BebasRegular';
    src: url('/fonts/bebas-webfont.eot');
    src: url('/fonts/bebas-webfont.eot?iefix') format('eot'),
         url('/fonts/bebas-webfont.woff') format('woff'),
         url('/fonts/bebas-webfont.ttf') format('truetype'),
         url('/fonts/bebas-webfont.svg#webfontwaCmJ81o') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/pacifico-webfont.eot');
    src: url('/fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/pacifico-webfont.woff') format('woff'),
         url('/fonts/pacifico-webfont.ttf') format('truetype'),
         url('/fonts/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald bold';
    src: url('/fonts/oswald-bold-webfont.eot');
    src: url('/fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/oswald-bold-webfont.woff') format('woff'),
         url('/fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('/fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.marginT50{	margin-top: 50px;}
.marginT20{margin-top:20px;}

.padding40{padding: 40px;}

.lineaArriba{height: 3px;width:100%;border-bottom: 1px #777 solid;}
.lineaAbajo{margin-top:10px;height: 1px;width:100%;border-top: 1px #777 solid;}
.titulo{background-color: transparent;line-height: 1.2;color:#fff;
font-weight: bold;font-family: BebasRegular;font-size: 50px; vertical-align: middle;}

.titulo2{background-color: transparent;line-height: 1.2;color: rgb(153, 153, 153);
font-weight: bold;font-family: BebasRegular;font-size: 50px;
}
.titulosm{background-color: transparent;line-height: 1.2;color:#fff;
font-weight: bold;font-family: BebasRegular;font-size: 35px;vertical-align: middle;}

.titulo2sm{background-color: transparent;line-height: 1.2;color: rgb(153, 153, 153);
font-weight: bold;font-family: BebasRegular;font-size: 35px;
}

h2{font-family: BebasRegular;color: #c0c0c0;}

.logoEspacio{margin-top: 10px;margin-right: 15px;}
.topnav{ list-style: none !important;padding: 0px; margin: 5px 0px 0px 0px!important;}
.topnav>li{ float:left;font-size: 17px;font-weight:bold;font-family: Arial; padding: 4px 20px;color:#fff; }
a{color:#666;font-family: Oswald bold;}
 a.menu:link {	color: #666;	text-decoration: none;
	-webkit-transition: color .5s linear, color .5s ease-in-out;
	-moz-transition: color .5s linear, color .5s ease-in-out;
	-o-transition: color .5s linear, color .5s ease-in-out;
	transition: color .5s linear, color .5s ease-in-out;
}
a.menu:hover {	color: #000; 
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}
.menu.active{color:#000;}
p.parrafo{color:#999999;font-size: 14px;text-align:justify;margin-top: 20px;padding: 0 25px 0 0;} 
.imgBack1{background: url(../images/imgback1.jpg) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 380px;
}
.imgBack2{background: url(../images/imgback2.jpg) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 380px;
        width: 100%;
}
.props2{background: url(../images/props2.jpg) no-repeat center center ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 50%;
        height: 290px;
        float: left;

}
.grisBack{background-color: #F5FAF5;height: 290px;width:50%;float: left;padding: 30px;}
.direccion{font-family: arial, ArialRegular, helvetica, sans-serif; font-size: 16px; color: #999999;}
.marginB30{margin-bottom: 30px;}
.barra{background-color: #fff;float: left;width: 100%;}

.menuT { text-align:center; }
.menuT ul { display:inline-table;}
.menuT ul li {display:inline;}
.contenedor{width: 100%;height: 380px;z-index: 0;position: relative;}

.carousel-fade 
  .carousel-inner 
    .item {
      opacity: 0!important;
      transition-property: opacity!important;
    }

    .carousel-fade 
  .carousel-inner .active {
      opacity: 1!important;
    }

    .carousel-fade 
  .carousel-inner .active.left,
    .active.right {
      left: 0!important;
      opacity: 0!important;
      z-index: 1!important;
    }

    .carousel-fade 
  .carousel-inner .next.left,
    .prev.right {
      opacity: 1!important;
    }
  }

  .carousel-fade 
  .carousel-inner .carousel-control {
    z-index: 2!important;
  }
}



html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%!important;
}

.likeFloat{position:absolute;
  margin-right:10px;
  width:300px;
  height:100px;
  z-index:999;
  margin-top:10px;margin-left:10px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.imagePreview{
position: relative;
float: left;
margin-right: 1px;
margin-bottom: 30px;
padding: 0px;
overflow: hidden;
border: 1px solid #fff;
/*border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;*/
width: 100%;
height: 100px;
display: inline;
}
.hoverColor {
width: 100%;
max-width: 300px;
height:100px;
margin-top: 0px;
position: absolute;
top: 0px;
left: 0px;
background:rgba(14, 97, 129, 0.6);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90ee0101,endColorstr=#90ee0101);
float: left;
display: none;
cursor: pointer;
color: #fff;
font-size: 20px;
font-weight: bold;
padding: 20px 20px 20px 10px;
text-align: left;
}
.fechaDiv{font-size: 10px;
bottom: 5px;
left: 5px;
position: absolute;}