<section id="slider_wrapper" class="slider_wrapper full_page_photo">
    		 <div  id="main_flexslider"  class="flexslider">
          		<ul class="slides">
    			<li class="item" style="width: 1265px; float: left; display: block; background-image: url(/images/img1.jpg);">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>
                                   <strong> La Cabina de fotos</strong> Más Divertida de <strong>México</strong>
                              </h1>
                              <p class="lead skincolored"><strong><a href="#" style="color:white;">Contrata</a></strong> ahora y obtén un <strong>descuento</strong> por inauguración</p>
                         </div>
                    </div>
               </li>
               <li class="item" style="width: 1265px; float: left; display: block; background-image: url(/images/img5.jpg);">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>
                                   Fotos <strong>ilimitadas</strong> para tu <br>evento social
                              </h1>
                              <p class="lead skincolored">Tus <strong>invitados</strong> quedarán fascinados con nuestra <strong>cabina de fotos</strong></p>
                              <span class="round_badge" style="background-color:#3B93C4;right: 200px;"><strong><i class="fa fa-birthday-cake"></i></strong></span> </div>
                    </div>
               </li>

               <li class="item" style="width: 1265px; float: left; display: block; background-image: url(/images/img4.jpg);">
                    <div class="container">
                         <div class="carousel-caption">
                              <h1>
                                   Los <strong>accesorios</strong> más originales los tenemos en <strong>Cubikcam</strong>
                              </h1>
                              <p class="lead skincolored">El mejor <strong>recuerdo</strong> para tu evento social <strong>lo tenemos aquí</strong></p>
                         </div>
                    </div>
               </li>

               <li class="item" style="width: 1265px; float: left; display: block; background-image: url(/images/img3.jpg);">
                    <div class="container">
                         <div class="carousel-caption show">
                              <h1>
                                   <strong>¡Contrata ahora!</strong> con gusto te atenderemos en el<strong> D.F. </strong>, Morelos,<strong> Puebla</strong>, Edo. de México <br> <button type="button" class="btn btn-primary btn-default">Reserva aquí</button>
                              </h1>
                              <p class="lead skincolored">Los mejores momentos de tu vida están aquí</p>
                         </div>
                    </div>
               </li>
           	</ul>
           </div>
</section>


<div class="main">
	<div class="container">
  		  <section class="call_to_action">
               <h3>¿Tienes una fiesta?</h3>
               <h4>Cubikcam es la mejor opción para que tu evento sea Inolvidable...</h4>
               <a class="btn btn-primary btn-lg" href="/renta">Renta Cubikcam aquí</a></section>
          <section class="features_teasers_wrapper">
               <div class="row">
                    <div class="feature_teaser col-sm-3 col-md-3"> 
                         <div class="wow fadeInDown animated">
                              <div style="height:140px;" >
                                   <img alt="responsive" src="/images/paso1.jpg">
                              </div>
                              <h3>Elige los accesorios que más te gusten</h3>
                              <p>Tenemos una gran variedad de props para que tu foto salga genial que van desde pelucas, sombreros, corbatas, inflables y más</p>
                         </div>
                    </div>
                    <div class="feature_teaser col-sm-3 col-md-3"> 
                         <div class="wow fadeInDown animated">
                              <div style="height:140px;">
                                   <img alt="responsive" src="/images/paso2.jpg">
                              </div>
                              <h3>Pasa a la cabina solo o con amigos</h3>
                              <p>En cubikcam puedes tomarte las fotos que quieras.</p>
                         </div>
                    </div>
                    <div class="feature_teaser col-sm-3 col-md-3"> 
                         <div class="wow  fadeInDown animated">     
                              <div style="height:140px;">
                                   <img alt="responsive" src="/images/paso3.jpg">
                              </div>
                              <h3>¡Diviertete y posa para la foto!</h3>
                              <p>El recuerdo de tu evento quedará espectacular con cubikcam.</p>
                         </div>
                    </div>
                    <div class="feature_teaser col-sm-3 col-md-3"> 
                         <div class="wow  fadeInDown animated">
                              <div style="height:140px;">
                                   <img alt="responsive" src="/images/paso4.jpg">
                              </div>
                              <h3>¡Recibe tu Foto impresa!</h3>
                              <p>En <strong>Cubikcam</strong> queremos que tus invitados se la pasen genial y tú tengas un gran recuerdo de ese evento</p>
                         </div>
                    </div>
               </div>
          </section>
          <section class="portfolio_teasers_wrapper" style="display:none;">
               <h2 class="section_header fancy centered">Recent Work or Projects from Portfolio<small>we take pride in our work</small></h2>
               <div class="portfolio_strict row">
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX animated" style="visibility: visible;"> <a href="http://www.leonart.gr/htmlthemes/restart_v3/portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(images/portfolio/p4.jpg)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"></path>
                                   <desc>Created with Snap</desc><defs></defs></svg>
                                   <figcaption>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="http://www.leonart.gr/htmlthemes/restart_v3/portfolio_item.html">The {re}start Project</a></h3>
                                   <p>Design</p>
                              </div>
                         </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX animated" style="visibility: visible;"> <a href="http://www.leonart.gr/htmlthemes/restart_v3/portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(images/portfolio/a5.jpg)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"></path>
                                   <desc>Created with Snap</desc><defs></defs></svg>
                                   <figcaption>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="http://www.leonart.gr/htmlthemes/restart_v3/portfolio_item.html">Colorfull iOS Apps</a></h3>
                                   <p>Development</p>
                              </div>
                         </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX animated" style="visibility: visible;"> <a href="http://www.leonart.gr/htmlthemes/restart_v3/portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(images/portfolio/p1.jpg)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"></path>
                                   <desc>Created with Snap</desc><defs></defs></svg>
                                   <figcaption>
                                        <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="http://www.leonart.gr/htmlthemes/restart_v3/portfolio_item.html">POETIC Magazine</a></h3>
                                   <p>Illustrations</p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
          <!--
          <section class="clients_section wow animated fadeInUp animated" style="visibility: visible;">
               <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
               <div class="clients_list"> <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#"><img src="./restart_files/wordpress.jpg" alt="client"></a> <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#"><img src="./restart_files/jquery.jpg" alt="client"></a> <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#"><img src="./restart_files/microlancer.jpg" alt="client"></a> <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#"><img src="./restart_files/bbpress.jpg" alt="client"></a> <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#"><img src="./restart_files/wpml.jpg" alt="client"></a> </div>
          </section>
          -->
     </div>
</div>

<?php $this->headScript()->captureStart() ?>
       $(window).load(function() {

        });
 
<?php $this->headScript()->captureEnd() ?>
