<div class="main">
     <div class="container">
          <section class="hgroup">
               <h1>Galeria de eventos sociales</h1>
               <h2>Búsca tu evento  y compartela con todo el mundo ;-) <br> Si tu evento no esta en nuetras galerías por favor repórtalo a contacto@cubikcam.com o envíanos un tweet a <a href="https://twitter.com/Cubikcam" target="_blank">@Cubikcam</a></h2>
          </section>
          
          <section class="portfolio_strict">
               <div class="row isotope_portfolio_container" style="position: relative; overflow: hidden; height: 1376px;">
                    <?php foreach($this->galerias as $galeria){ ?>
                    <div class="cat_travel col-xs-6 col-sm-6 col-md-4 col-lg-4">
                         <div class="portfolio_item"> 
                              <a href="/galeria/<?php echo filter_var(strtolower(str_replace(" ","-",$galeria["nombre"])),FILTER_SANITIZE_URL)."/id/".$galeria["id"];?>/page/1" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(/img.php?img=<?php echo $galeria["imagen"]; ?>)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M180,0C180,0,0,0,0,0C0,0,0,0,0,0C0,0,180,0,180,0C180,0,180,0,180,0"></path>
                                   <defs></defs></svg>
                                   <figcaption>
                                        <p style="font-size:13px;" ><?php echo $galeria["nombre"]; ?><br> </p>
                                        <div class="view_button">{{ <?php echo $galeria["fecha"]; ?> | date:'d MMM yyyy'}}</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="/galeria/<?php echo filter_var(strtolower(str_replace(" ","-",$galeria["nombre"])),FILTER_SANITIZE_URL)."/id/".$galeria["id"];?>/page/1"><?php echo $galeria["nombre"]?></a></h3>
                              </div>
                         </div>
                    </div>
                    <?php }?>
               </div>
          </section>
     </div>
</div>