<?php 

$googleShort = new My_Google_Shorten();

	$elementos =array();
	foreach($this->paginador as $elemento){
		$elementos[] = $elemento["filename"];
	} 

$this->headMeta()->setProperty('og:title', 'CubikCam Photobooth - '.$this->galeriaInfo["nombre"]);
$this->headMeta()->setProperty('og:type', 'website');
$this->headMeta()->setProperty('og:url', $this->serverUrl(true));
$this->headMeta()->setProperty('og:image', 'http://www.cubikcam.com/img.php?img='.$elementos[0]);
$this->headMeta()->setProperty('og:description', 'Los mejores momentos de tu vida están aquí, mira la galeria de fotos de este evento, si deseas mas información acerca de la renta de nuestra cabina fotográfica visita nuestro sitio web http://www.cubikcam.com' );
$this->headMeta()->setProperty('fb:admins', '1112151402');
$this->headMeta()->setProperty('og:site_name', 'www.cubikcam.com');

?>

<script type="text/javascript">
function fb_share() {
    // facebook share dialog
    FB.ui( {
        method: 'feed',
        link: " <?php echo $this->serverUrl(true) ;?>",
        name:"Cubikcam Photobooth - <?php echo  $this->galeriaInfo["nombre"];  ?>",
        picture:" <?php echo 'http://www.cubikcam.com/img.php?img='.$elementos[0]; ?>",
        caption: ""
    }, function( response ) {
        // do nothing
    } );

}



window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));


</script>

<div class="main">
     <div class="container"  ng-app="app"  ng-cloak class="ng-cloak">
          	<section class="hgroup">
           		<div class="row">
           			<div class="col-md-6">
           				<h1><i class="fa fa-birthday-cake" style="color: #428bca;"></i> <?php echo $this->galeriaInfo["nombre"]; ?></h1>
		                <h2>Evento social {{<?php echo $this->galeriaInfo["fechaEvento"]; ?> | date:'dd MMM yyyy'}}</h2>
           			</div>
           			<div class="col-md-6">
           				<h5 class="text-center">Comparte esta galeria</h5>
           				<div class="text-center center-block">
						                <a href="#" onclick="fb_share();"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
							            <a target="_blank" href="http://twitter.com/share?text=@Cubikcam - <?php echo $this->galeriaInfo["nombre"];?>&url=<?php echo $googleShort->encode($this->serverUrl(true)) ;?>&hashtags=Cubikcam,Photbooth"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
							            <!--
							            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
							            <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
							        	-->
						</div>
           			</div>
           		</div>
			</section>
			<div class="row">
				<div class="col-md-12">
					<div style="margin:10px;">
					<?php
						Zend_View_Helper_PaginationControl::setDefaultViewPartial('_partial/paginador.phtml' );
						echo $this->paginador; 
					?>
					</div>
				</div>
			</div>
          
			<div class="row" ng-controller="GaleriaController">
				<div class="col-md-6">
					<div class="row">
						<div style="margin:55px 0px;">
							<div class="col-md-3 col-sm-3 col-xs-3" ng-repeat="f in fotos">
								<div class="thumbnail otra " style="cursor:pointer;" >
										<img ng-src="/crop2.php?width=120&height=120&img={{f}}"  ng-click="verFoto($index);$event.preventDefault(); $event.stopPropagation();" >	
								</div>
							</div>
						</div>
					</div>		
				</div>
				<div class="col-md-6">
					<div style="margin:0 0 50px 0;position:relative;width:550px;height:550px;overflow: hidden;" class="text-center" ng-show="idFotoActual" >
							<div id="animacion" class="bounceInLeft animated" style="position:absolute;height: 500px; width: 500px; "  ng-hide="loading">
								<img class="img-thumbnail" ng-src="/img.php?img={{idFotoActual}}"   style="height: 500px;width:500px;" imageonload />
							</div>

							<img ng-show="loading" src="/images/loading.gif" style="width:100%;height:auto;"/>
							
					</div>
				</div>

			</div>


    </div>
</div>


<script>
	var x = <?php echo Zend_Json::encode($elementos);?>;
	var galInfo = <?php echo $this->galeria;?>;
</script>


