<link rel="stylesheet" type="text/css" href="/css/ng-quick-date-plus-default-theme.css" media="all" />

<div class="main">
     <div class="container">
     	<section class="hgroup">
               <h1>Con gusto estaremos en tu evento, Contáctanos aquí</h1>
               <h2>Envíanos tus datos y con gusto te proporcionamos la cotización, formas de pago, y la reservación de la fecha de tu evento.</h2>
        </section>
        <section>
        	<div class="row ng-cloack" ng-app="app" ng-controller="FormularioCtrl" ng-cloak >
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" ng-show="success">
                         Tu solicitud de información se ha enviado correctamente, en breve nos pondremos en contacto contigo para brindarte más información, hemos enviado un correo electrónico a la dirección que nos proporcionaste con el resumen de tu solicitud de información.
                    </div>
                </div>
            </div>
        		<div class="col-md-4">
        			<div class="office_address">
                         <div class="team_member well" >
                         	<img src="/images/cubikcam200x200.png" width="90" height="90" alt="logo">
                         	<h5>CUBIKCAM</h5>
                              <small>Cabina fotográfica para eventos sociales</small><br><br>
                              <div class="team_social"> <a target="_blank" href="https://www.facebook.com/Cubikcam"><i class="fa fa-facebook"></i></a> <a target="_blank" href="https://twitter.com/Cubikcam"><i class="fa fa-twitter"></i></a></div>
                              <address>
                              <strong></strong><br>
                              Yobain Mz 15 Lt 8 Col. Popular Santa Teresa<br>
                              Tlalpan, Distrito Federal<br>
                              <abbr title="Phone">Cel:</abbr> 5564031108 , 5530310273
                              </address>
                              <address>
                              <abbr title="Phone">Email:</abbr> <a href="mailto:contacto@cubikcam.com">contacto@cubikcam.com</a>
                              </address>
                         </div>
                    </div>
        		</div>
        		<div class="col-md-8 contact_form">
        			<form name="formularioContacto" id="contact_form" novalidate ng-submit="enviarSolicitud() && formularioContacto.$valid">
                              <div class="row">
                                   <div class="col-sm-6 col-md-6">
                                        <label>Nombre completo</label>
                                        <input name="name" id="name" class="form-control" type="text" value="" required 
                                        ng-model="solicitud.nombreCompleto">
                                   </div>
                                   <div class="col-sm-6 col-md-6">
                                      <div class="form-group" ng-class="{'has-error':formularioContacto.email.$error.email}">
                                        <label>E-mail</label>
                                        <input name="email" id="email" class="form-control" type="email" value="" required 
                                        ng-model="solicitud.email">
                                      </div>
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-sm-4 col-md-4">
                                        <label>Teléfono de contacto</label>
                                        <input name="telefono" id="telefono" class="form-control" type="text" required
                                        ng-model="solicitud.telefono">
                                   </div>
                                   <div class="col-sm-4 col-md-4">
                                        <label>Ciudad del evento social</label>
                                        <input name="ciudad" id="ciudad" class="form-control" type="text" required
                                        ng-model="solicitud.ciudad">
                                   </div>
                                   <div class="col-sm-4 col-md-4">
                                        <label>Estado del evento</label>
                                        <select name="estado" class="form-control"
                                        ng-model="solicitud.estado">
                                        	<option value="distrito federal">Distrito Federal</option>
                                        	<option value="estado de mexico">Estado de México</option>
                                        	<option value="morelos">Morelos</option>
                                        	<option value="puebla">Puebla</option>
                                        </select>
                                   </div>
                              </div>
                              <div class="row">
                              	<div class="col-md-6">
                              		<label>Paquete a contratar</label>
                              		<select name="paquete" class="form-control"
                                  ng-model="solicitud.paquete" ng-init="solicitud.paquete = '<?php echo $this->p ;?>'">
                                        	<option value="bronce">Paquete Bronce - 2 horas de servicio </option>
                                        	<option value="plata">Paquete Plata - 3 horas de servicio</option>
                                        	<option value="oro">Paquete Oro - 5 horas de servicio</option>
                                    </select>
                              	</div>
                              	<div class="col-md-6">
                                  <div style="margin-top:25px;"
                              		  <label>Fecha del evento</label>
                                    <quick-datepicker name='myDate' ng-model='solicitud.fecha' required date-format="MMMM d, yyyy" disable-timepicker="true" placeholder="Selecciona la fecha"></quick-datepicker>
                                  </div>

                              	</div>
                              </div>
                              <div class="row">
                                   <div class="col-sm-12 col-md-12">
                                        <label>Comentarios (opcional) </label>
                                        <textarea name="comentarios" id="comentarios" rows="6" class="form-control" ng-model="solicitud.comentarios" ></textarea >
                                   </div>
                                   <div class="col-sm-12 col-md-12"><br>
                                        <button type="submit" id="submit_btn" class="btn btn-primary" name="submit"
                                        ng-disabled="formularioContacto.$invalid">Enviar solicitud</button> <span id="notice" class="alert alert-warning alert-dismissable hidden" style="margin-left:20px;"></span> </div>
                              </div>
                    </form>
        		</div>
        	</div>
        </section>
     </div>
 </div>