<div class="full_page_photo" style=" background-image: url(/images/img2.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown skincolored">La mejor <strong>atención</strong>  al mejor precio.</h3>
               <br>
               <h4 class="animated bounceInUp">En Cubikcam nuestros <strong>clientes </strong>son lo más <strong>importante!</strong></h4>
          </section>
     </div>
</div>
<div class="main" >
     <div class="container">
          <section class="hgroup centered">
               <h1>Nuestros servicios</h1>
               <h2>En <strong>Cubikcam</strong> hacemos el máximo esfuerzo para que tu evento sea un éxito, <b>En todos nuestros paquetes incluimos:</b></h2>
          </section>
          <section class="service_teasers">
               <div class="service_teaser">
                    <div class="row">
                         <div class="service_photo col-sm-4 col-md-4">
                              <figure style="background-image:url(/images/cabina.png)"></figure>
                         </div>
                         <div class="service_details col-sm-8 col-md-8">
                              <h2 class="section_header skincolored"><b>Instalación</b> del Photobooth<small> cabina fotográfica</small></h2>
                              <p>Instalaremos el <b>Photobooth(cabina fotográfica)</b> donde tu nos digas, puede ser al aire libre con fondo o sin fondo, solo necesitamos tener al alcance una conexión eléctrica de 120 volts a una distancia no mayor a 10 metros.  </p>
                    	</div>
                    </div>    
               </div>

               <div class="service_teaser">
                    <div class="row">
                         <div class="service_photo col-sm-4 col-md-4">
                              <figure style="background-image:url(http://www.ashleysbrideguide.com/images/uploads/11-photo-booth-nashville-wedding-scrapbook-attendant.jpg)"></figure>
                         </div>
                         <div class="service_details col-sm-8 col-md-8">
                              <h2 class="section_header skincolored"><b>Staff </b>Técnico<small> en el evento </small></h2>
                              <p>Nuestro <b>staff</b> estará a cargo de atender a tus invitados y ayudarles a tomar su fotografía con nuestro <b>Photobooth</b>, así la diversión esta asegurada y todos tus invitados quedarán satisfechos. </p>
                         </div>
                    </div>
               </div>

               <div class="service_teaser">
                    <div class="row">
                         <div class="service_photo col-sm-4 col-md-4">
                              <figure style="background-image:url(/images/disfraces.jpg)"></figure>
                         </div>
                         <div class="service_details col-sm-8 col-md-8">
                              <h2 class="section_header skincolored">Los mejores <b>Disfraces </b><small> para tus fotografías</small></h2>
                              <p>Tenemos una gran colección de <b>sombreros</b>, pelucas, <b>gorros</b>, máscaras,<b> lentes</b> y más, para que tus invitados se tomen las fotos más originales en tu evento, <b>Cubikcam</b> siempre está a la vanguardia para cada ocasión y fecha especial. </p>
                         </div>
                    </div>
               </div>

               <div class="service_teaser">
                    <div class="row">
                         <div class="service_photo col-sm-4 col-md-4">
                              <figure style="background-image:url(http://cdn2.jessmarksphotography.com.au/wp-content/uploads/2012/09/Wedding-Gallery-PhotoBooth-Album-032.jpg)"></figure>
                         </div>
                         <div class="service_details col-sm-8 col-md-8">
                              <h2 class="section_header skincolored"><b>Guest</b>Book <small>Un album con las fotos de tus invitados! </small></h2>
                              <p> Lo mejor de cubikcam es poder atesorar ese mágico momento para siempre, por ello te damos un guestbook con todas las fotos que tus invitados se tomaron, así como un mensaje que ellos escribieron para tu evento. </p>
                         </div>
                    </div>
               </div>
              
              
          </section>
          <section class="pricing_wrapper">
               <div class="row">
                    <div class="col-sm-12 col-md-4">
                         <div class="pricing_plan wow  rollIn animated" style="visibility: visible;">
                              <h3>Paquete<strong>Bronce</strong> <small>por 2 horas de servicio</small></h3>
                              <div class="the_price"><span>$</span>4,000<small>MXN</small></div>
                              <div class="the_offerings">
                                   <p style="text-align:left;padding-left:20px;"> <strong>2</strong> Horas de servicio </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Staff técnico </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> GuestBook </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Usb con fotos del evento </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Caja de Disfraces </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Montaje y desmontaje</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Galería en nuestra página web</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Logo de tu evento en las fotos</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong></strong> Fotos Ilimitadas durante las horas del servicio contratado</p>
                              </div>
                              <a href="/renta?p=bronce" class="btn btn-primary btn-lg">¡Contrata ahora!</a> 
                          </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="pricing_plan special wow  flipInY animated" style="visibility: visible;">
                               <h3>Paquete<strong>Plata</strong> <small>por 3 horas de servicio</small></h3>
                              <div class="the_price"><span>$</span>5,000<small>MXN</small></div>
                              <div class="the_offerings">
                                   <p style="text-align:left;padding-left:20px;"> <strong>3</strong> Horas de servicio </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Staff técnico </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> GuestBook </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Usb con fotos del evento </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Caja de Disfraces </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Montaje y desmontaje</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Galería en nuestra página web</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Logo de tu evento en las fotos</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong></strong> Fotos Ilimitadas durante las horas del servicio contratado</p>
                                    <a href="/renta?p=plata" class="btn btn-primary btn-lg">¡Contrata ahora!</a> 
                              </div>
                         </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                         <div class="pricing_plan wow  rollIn animated" style="visibility: visible;">
                              <h3>Paquete<strong>Oro</strong> <small>por 5 horas de servicio</small></h3>
                              <div class="the_price"><span>$</span>7,000<small>MXN</small></div>
                              <div class="the_offerings">
                                   <p style="text-align:left;padding-left:20px;"> <strong>5</strong> Horas de servicio </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Staff técnico </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> GuestBook </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Usb con fotos del evento </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Caja de Disfraces </p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Montaje y desmontaje</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Galería en nuestra página web</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong>1</strong> Logo de tu evento en las fotos</p>
                                   <p style="text-align:left;padding-left:20px;"> <strong></strong> Fotos Ilimitadas durante las horas del servicio contratado</p>
                                    <a href="/renta?p=oro" class="btn btn-primary btn-lg">¡Contrata ahora!</a> 
                              </div>
                    </div>
               </div>
          </section>
          <div class="service_teaser elegant" style="display:none">
               <div class="row">
                    <div class="service_photo col-sm-4 col-md-4 wow animated rollIn animated" style="visibility: visible;">
                         <figure style="background-image:url(images/serv_4.jpg)"></figure>
                    </div>
                    <div class="service_details col-sm-8 col-md-8 wow animated slideInRight animated" style="visibility: visible;">
                         <h2 class="section_header elegant">Humble &amp; Elegant<small>where the service_teaser is <i>.elegant</i></small></h2>
                         <p><strong>Restart</strong> is fresh and easy to customize, built to serve as a foundation for your web projects. It is built upon Bootstrap, a front-end development framework with a steep learning curve. It comes with a style.less file that tries to use <strong>all the power of {less} and bootstrap combined</strong>. </p>
                    </div>
               </div>
          </div>
     </div>
</div>