<!--   ANGULAR modulo paciente  -->
<script src="/js/angular.min.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/app/js/paciente.js"></script>


<?php $this->headTitle("Registro FacebookEspia"); ?>
<div class="container" ng-app="moduloLogin">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			<div class="widget widget-blue" style="margin: 100px auto;">
				<div class="widget-title">
					<h3 class="text-center">
						<i class="fa fa-lock"></i> Ya casi estas registrado.
					</h3>
				</div>
				<div class="widget-content" ng-cloak class="ng-cloak">
					<form name="form" role="form" no-validate
						ng-controller="loginController as loginCtrl"
						ng-submit="form.$valid && loginCtrl.guardarUsuario() ">
						<div class="form-group relative-w has-iconed"
							ng-class="{'has-success' : form.username.$valid}">
							<label>Nombre de Usuario</label> <input name="username"
								type="text" required ng-model="loginCtrl.usuario.username"
								class="form-control" placeholder="Usuario de facebook"
								ng-init="loginCtrl.usuario.username='<?php echo $this->name;?>'">
						</div>
						<div class="form-group relative-w has-iconed"
							ng-class="{'has-success' : form.nombrecompleto.$valid}">
							<label>Tu nombre completo</label> <input name="nombrecompleto"
								type="text" ng-model="loginCtrl.usuario.nombrecompleto"
								class="form-control" placeholder="Escribe tu nombre completo"
								required> 
						</div>
						<div class="form-group relative-w has-iconed"
							ng-class="{'has-success' : form.email.$valid}">
							<label>Tu correo electrónico</label> <input name="email"
								type="email" ng-model="loginCtrl.usuario.email"
								class="form-control" placeholder="Escribe tu correo electrónico"
								ng-init="loginCtrl.usuario.email='<?php echo $this->email;?>'">
							<i class="fa fa-envelope-alt input-abs-icon"></i>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label><input name="terminos" type="checkbox"
									ng-model="loginCtrl.usuario.terminos" required> Yo acepto los <a
									href="#">términos de uso</a> y las<a href="#"> politicas</a>. </label>
							</div>
						</div>
						<button class="btn btn-success btn-rounded btn-iconed btn-block"
							type="submit"
							ng-disabled="form.$invalid || loginCtrl.deshabilitar ">
							<span>Registrarme ya</span> <i class="fa fa-arrow-right"></i>
						</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
(function() {

  	var app = angular.module('moduloLogin', ['ngAnimate']);
	app.controller('loginController',[ '$http',function($http){
		    //this.paciente = {};
			 $http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";    
			this.usuario	=	[];
			this.deshabilitar =	false;

			this.guardarUsuario = function(){
				$('#loadingModal').modal('show'); 
				this.deshabilitar = true;
				 $http({
		              method:'POST',
		              url:'/users/registro/guardarusuario/',
		              params:this.usuario
		            }).success(function(data){
		            	$('#loadingModal').modal('hide'); 
			            location.href="/panel";
		            }).error(function(){$('#loadingModal').modal('hide'); this.deshabilitar=false;alert("hubo un problema, por favor intenta nuevamente");});
			} ;
	}]);  // Fin del controller 

})();
  
  
</script>
