<link rel="stylesheet" type="text/css" href="/css/ng-quick-date-plus-default-theme.css" media="all" />

<style type="text/css">
.quickdate-button {	padding: 8px 8px;}
</style>



		<div class="row">
			<div class="col-md-12">
				<div class="text-right" style="margin-bottom:10px;">
								<a href="#/" type="button" class="btn btn-iconed btn-round btn-info">
									<i class="fa fa-arrow-left"></i> Regresar al Dashboard 
								</a>
				</div>

				<div class="widget widget-orange">
		          	<div class="widget-title">
		            	<h3><i class="fa fa-plus-square"></i>Crear una nueva galeria de fotos</h3>
		          	</div>
		        	<div class="widget-content">

		        			<div ng-hide="galeria.id">
		        				<form name="formGaleriaNueva" ng-submit=" formGaleriaNueva.$valid && crearGaleria(galeria)" novalidate>

			        				<div class="row">
			        					<div class="col-md-6">
						                	<input type="text" class="form-control" placeholder="Escribe el nombre de la nueva Galeria" ng-model="galeria.nombre" required>
						                </div>
				        				<div class="col-md-3">
	 										<quick-datepicker name='myDate' ng-model='galeria.fechaEvento' required date-format="MMMM d, yyyy" disable-timepicker="true" placeholder="Selecciona la fecha"></quick-datepicker>
						                </div>
						                <div class="col-md-3">
						                	<button type="submit" class="btn btn-primary btn-block" ng-disabled="formGaleriaNueva.$invalid ">Crear Galeria</button>
						                </div>
					            	</div>

				            	</form>
		        			</div>


		        			<div ng-show="galeria.id">
		        				<h2>{{galeria.nombre}}</h2>
		        				<br>
								<h4>Seleccion las imagenes de la galeria</h4>
								<div ng-hide="galeria.completada">
							        <input type="file" nv-file-select uploader="uploader" multiple /><br/>
							        <div ng-show="uploader.queue.length" style="margin:20px;">
							        			<div class="row">
							        				<div class="col-md-6">
								                        <button type="button" class="btn btn-success btn-sm" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
								                            <span class="fa fa-upload"></span> Subir todo
								                        </button>
								                        <button type="button" class="btn btn-warning btn-sm" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
								                            <span class="fa fa-times"></span> Cancelar
								                        </button>
								                        <button type="button" class="btn btn-danger btn-sm" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
								                            <span class="fa fa-trash-o"></span> Quitar todas
							                        	</button>
							                        </div>
						                        	<div class="col-md-6">
							                            Progreso:
							                            <div class="progress">
							                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
							                            </div>
							                        </div>
							                    </div>
				                    </div>
				                </div>


						        <div class="well" ng-hide="galeria.completada">
						        	<div class="row">
						        		<div class="col-md-12">
						        			<p>Número de fotos: {{ uploader.queue.length }}</p>
						        			<div ng-hide="uploader.queue.length">
						        				<h3 class="text-center">Aquí apareceran las fotos seleccionadas</h3>
						        			</div>
						        			<div ng-show="uploader.queue.length">
							        			<div class="row">
							        				<div class="col-md-3" ng-repeat="item in uploader.queue">
							        					<div style="margin-bottom: 25px; background-color:#fff;" class="well">
								        				 	<p class="text-center" style="font-size:12px"><b>{{ item.file.name | limitTo:20 }}</b><br>
								        				 	{{ item.file.size/1024/1024|number:2 }} MB</p>
								        				 	<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
						                                        <span class="fa fa-trash-o"></span>Remove
						                                    </button>
					                                	</div>
							        				</div>
							        			</div>
						        			</div>
						        		</div>
						        	</div>
						        </div>

						        <div class="well" ng-show="galeria.completada">
						        	<div class="row">
						        		<div class="col-md-12">
						        			<p>Número de fotos: {{ galeriaCreada.fotografias.length }}</p>
						        			<div ng-hide="galeriaCreada.fotografias.length">
						        				<h3 class="text-center">Aquí apareceran las fotos seleccionadas</h3>
						        			</div>
						        			<div ng-show="galeriaCreada.fotografias.length">
							        			<div class="row">
							        				<div class="col-md-3" ng-repeat="item in galeriaCreada.fotografias">
							        					<div style="margin-bottom: 25px; background-color:#fff;" class="well">
								        				 	<p class="text-center" style="font-size:12px">
									        				 	<b>{{ item.filename | limitTo:20 }}</b>
								        				 	</p>
					                                	</div>
							        				</div>
							        			</div>
						        			</div>
						        		</div>
						        	</div>
						        </div>

						    </div>

		          	</div><!-- widget-content -->

	        	</div>
			</div>
		</div>


