
		<div class="row">
			<div class="col-md-12">
				<div class="text-right" style="margin-bottom:10px;">
								<a href="#/" type="button" class="btn btn-iconed btn-round btn-info">
									<i class="fa fa-arrow-left"></i> Regresar al Dashboard 
								</a>
				</div>
				<div class="widget widget-red">
		          	<div class="widget-title">
		            	<h3><i class="fa fa-picture-o"></i>Todas las Galerias</h3>
		          	</div>
		        	<div class="widget-content">
		        			<h1 class="text-center">Galerias en cubikcam</h1><br>
		        			<div class="row">
		        				<div class="col-md-3" ng-repeat="item in galerias">
		        					<div style="margin: 10px 0px;">
			        					<a ng-href="#/galeria/{{item.id}}">
								        <div class="thumbnail">
								        	<img ng-src="/img.php?img={{item.imagen}}" class="img-responsive">
									        <div class="caption">
									        	<p class="text-center" style="font-size:13px;"><b>{{item.nombre}}</b></p>
									        	<p class="text-center" style="font-size:12px;">{{item.fecha | date:"mediumDate"}}</p>
									        	<p class="text-right"><i ng-class="{'fa  fa-check fa-lg  green':item.status==1,'fa fa-circle fa-lg red':item.status==0}"></i></p>
									        </div>
								        </div>
								    	</a>
							    	</div>
		        				</div>
		        			</div>
		          	</div><!-- widget-content -->

	        	</div>
			</div>
		</div>


