<div class="row">
	<div class="col-md-12">
		<div class="text-right" style="margin-bottom:10px;">
			<a href="#/mostrar-galerias" type="button" class="btn btn-iconed btn-round btn-info">
				<i class="fa fa-arrow-left"></i> Regresar a Galerias 
			</a>
		</div>

		<div class="widget widget-red">
	       	<div class="widget-title">
	           	<h3><i class="fa fa-picture-o"></i>Mostrar Galeria</h3>
	       	</div>
		   	<div class="widget-content">
		   		<h2>{{galeria.nombre}}<small> - {{galeria.fechaEvento | date:"dd 'de' MMMM 'de' yyyy"}}</small></h2>
		   		<h4>Status : <i ng-class="{'fa fa-check green fa-lg':galeria.status==1,'fa fa-circle red':galeria.status==0}"></i> </h4>
		   		<br>
		   		<div class="text-right">
		   			<button class="btn btn-round btn-sm btn-danger" ng-click="cambiarStatus()" ng-show="galeria.status">
		   				Desactivar Galeria
		   			</button>
		   			<button class="btn btn-round btn-sm btn-success" ng-click="cambiarStatus()" ng-hide="galeria.status">
		   				Publicar galeria
		   			</button>
		   		</div>
		   		<hr>
		   		<div class="row">
		   			<div class="col-md-12">
		   				<i class="fa fa-picture-o"></i> Se encontraron {{galeria.fotografias.length}} fotografías en esta galeria.
		   			</div>
		   		</div>
		   		<div class="row">
		        	<div class="col-md-2" ng-repeat="item in galeria.fotografias">
		        		<img ng-src="/img.php?img={{item.filename}}" class="img-responsive img-thumbnail" style="margin:10px 0;">
		        	</div>
		        </div>

		   	</div>
		</div>
	</div>
</div>
