<div class="sub-sidebar-wrapper" ng-show="getModule()=='' || getModule()=='home'">
	<ul class="nav">
		<li>
			<a href="#/">
				<i style="color:#ddd" class="fa fa-bar-chart-o"></i> Dashboard 
			</a>
		</li>
		<li>
			<a href="#/blog">
				<i style="color:#ddd" class="fa  fa-pencil"></i> Blog
			</a>
		</li>
		<li>
			<a href="#/mostrar-galerias">
				<i style="color:#ddd" class="fa fa-picture-o"></i> Galerias
			</a>
		</li>
	</ul>
</div>



<div class="sub-sidebar-wrapper" ng-show="getModule()=='mostrar-galerias' || getModule()=='crear-galeria' || getModule()=='galeria'">
	<ul class="nav">
		<li>
			<a href="#/mostrar-galerias">
				<i style="color:#ddd" class="fa  fa-picture-o"></i>Mostrar todas
			</a>
		</li>
		<li>
			<a href="#/crear-galeria">
				<i style="color:#ddd" class="fa fa-plus-square"></i> Galeria nueva
			</a>
		</li>
		
	</ul>
</div>
