<div class="side">
  <div class="sidebar-wrapper" >
  <ul >
    <li ng-class="{current : getModule()=='' || getModule()=='home'}">
      <a class='current' href="/admin/panel/#/" data-toggle="tooltip" data-placement="right" title="" data-original-title="Edición">
        <i class="fa  fa-home"></i>
      </a>
    </li>
  </ul>
</div>
</div>
<?php echo $this->render("menuadmin/index.phtml");?>