<?php 
date_default_timezone_set('America/Mexico_City');
echo $this->doctype('XHTML1_RDFA');
$this->setEncoding('UTF-8');
$locale = new Zend_Locale();
$locale->setLocale('es_MX');
$auth = Zend_Auth::getInstance ();
$_auth = $auth->getStorage ()->read ();
?>
<!DOCTYPE html>
<html>

<head lang="es">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
      

<link rel='stylesheet' href='/assetsadmin/css/plugins/fullcalendar.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/datatables/datatables.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/datatables/bootstrap.datatables.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/chosen.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/jquery.timepicker.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/daterangepicker-bs3.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/colpick.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/dropzone.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/jquery.handsontable.full.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/jscrollpane.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/jquery.pnotify.default.css'>
<link rel='stylesheet' href='/assetsadmin/css/plugins/jquery.pnotify.default.icons.css'>
<link rel='stylesheet' href='/assetsadmin/css/app.css'>
<link rel='stylesheet' href='/css/adminstyles.css'>


  <link href="/assetsadmin/favicon.ico" rel="shortcut icon">
  <link href="/assetsadmin/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    @javascript html5shiv respond.min
  <![endif]-->
   	<?php	echo $this->headMeta();   ?>
  	<?php 	echo $this->headLink(); ?>
    <?php 	echo $this->headTitle();  ?>




</head>

<body class="glossed" ng-app="app"  ng-controller="MainController as mainCtrl" ng-cloack class="ng-cloack">
<div class="all-wrapper fixed-header left-menu"   ng-init="mainCtrl.usuario={nombre:'<?php echo $_auth->username;?>',nombreCompleto:'<?php echo $_auth->nombre;?>'}" >
  
  <?php echo $this->render('adminheader.phtml');?>
  
  <?php echo $this->render('adminsidebar.phtml');?>
  
  
  	<div class="main-content" >
	<?php echo $this->layout()->content; ?>
	 	<div class="animate" ng-view></div>
	</div><!-- Fin main content -->
 
</div>






<?php 	echo $this->headScript();  ?>

<div id="loadingModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2 style="text-align: center;margin:50px auto;"><i class="fa fa-cog fa-spin"></i> Cargando...</h2>
    </div>
  </div>
</div>
<div id="actualizandoModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalActualizando" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2 style="text-align: center;margin:50px auto;"><i class="fa fa-cog fa-spin"></i> Actualizando datos...</h2>
    </div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!--   ANGULAR MODULES  -->
<script src="/js/angular.min.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script src="/js/angular-locale_es-mx.js"></script>


<script src="/js/angular-file-upload.js"></script>
<script type="text/javascript" src="/js/ng-quick-date.js"></script>
<script src="/app/js/controllers/app.js"></script>
<script src="/app/js/controllers/galerias.js"></script>
<script src="/app/js/services/servicios.js"></script>





<script src='/assetsadmin/js/plugins/jquery.pnotify.js'></script>
<script src='/assetsadmin/js/plugins/jquery.sparkline.min.js'></script>
<script src='/assetsadmin/js/plugins/mwheelIntent.js'></script>
<script src='/assetsadmin/js/plugins/mousewheel.js'></script>
<script src='/assetsadmin/js/bootstrap/dropdown.js'></script>
<script src='/assetsadmin/js/bootstrap/tooltip.js'></script>
<script src='/assetsadmin/js/bootstrap/collapse.js'></script>
<script src='/assetsadmin/js/bootstrap/scrollspy.js'></script>
<script src='/assetsadmin/js/plugins/bootstrap-datepicker.js'></script>
<script src='/assetsadmin/js/bootstrap/transition.js'></script>
<script src='/assetsadmin/js/plugins/jquery.knob.js'></script>
<script src='/assetsadmin/js/plugins/jquery.flot.min.js'></script>
<script src='/assetsadmin/js/plugins/chosen.jquery.min.js'></script>
<script src='/assetsadmin/js/plugins/moment.min.js'></script>
<script src='/assetsadmin/js/bootstrap/modal.js'></script>
<script src='/assetsadmin/js/plugins/raphael-min.js'></script>
<script src='/assetsadmin/js/plugins/morris-0.4.3.min.js'></script>
<script src='/assetsadmin/js/plugins/justgage.1.0.1.min.js'></script>
<script src='/assetsadmin/js/plugins/summernote.js'></script>
