  <?php
		$registrado = Zend_Auth::getInstance ();
		$auth = Zend_Auth::getInstance ();
		$_auth = $auth->getStorage ()->read ();
		
		?>
<div class="page-header"	>
	<div class="header-links hidden-xs">
		<div class="dropdown" style="margin-right: 50px;">
			<a ng-href="" class="header-link clearfix" data-toggle="dropdown" style="cursor:pointer;">
				<div class="user-name-w">
					Bienvenido: {{mainCtrl.usuario.nombre}} <i class="fa fa-caret-down"></i>
				</div>
			</a>
			<ul class="dropdown-menu dropdown-inbar">
				
				<li><a href="/users/registro/logout"><i class="fa fa-power-off"></i>
						Logout</a></li>
			</ul>
		</div>
	</div>
	<a class="current logo hidden-xs" href="#/"><i
		class="fa fa-rocket"></i></a> <a class="menu-toggler" href="#"><i
		class="fa fa-bars"></i></a>
	<h1><?php echo $this->metadatos["tituloModulo"];?></h1>
</div>


