<?php 
$accion   =    Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>


<footer style="margin-top:0px;">
          <section class="twitter_feed_wrapper">
               <div class="container">
                    <div class="row wow animated fadeInUp" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">
                         <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="https://twitter.com/Cubikcam/"><i class="fa fa-twitter"></i></a></div>
                         <div class="col-sm-11 col-md-11">
                              <?php  if (isset($this->tweets[0])){ ?>
                              <blockquote>
                                    <?php  
                                    
                                          $tweet = $this->tweets[0]; 
                                           $tweetText = $tweet->text;
//                                           $tweetText = preg_replace("#(http://|(www.))(([^s<]{4,68})[^W<]*)#", '<a href="http://$2$3" target="_blank">$1$2$4</a>', $tweetText);
                                           $tweetText = preg_replace("/@(w+)/", '<a href="http://www.twitter.com/$1" target="_blank">@$1</a>', $tweetText);
                                           $tweetText = preg_replace("/#(w+)/", '<a href="http://search.twitter.com/search?q=$1" target="_blank">#$1</a>', $tweetText);
                                    ?>
                                   <p><?php echo $tweetText; ?></p>
                                   — <?php echo $tweet->user->name. "(@".$tweet->user->name.")" ;?> <a target="_blank" href="https://twitter.com/Cubikcam/"><?php $f = new DateTime($tweet->created_at); echo $f->format("d/M/Y"); ?></a>
                              </blockquote>
                              <?php } ?>
                         </div>
                    </div>
               </div>
          </section>
          <section id="footer_teasers_wrapper">
               <div class="container">
                    <div class="row">
                         <div class="footer_teaser col-sm-6 col-md-6">
                              <h3>Contáctanos </h3>
                              <p>Cubikcam - Renta de cabinas fotográficas para fiestas</p>
                              <p><i class="fa fa-map-marker"></i> Calle Yobain Mz 15 Lt 8 Tlalpan México D.F.</p>
                              <p><i class="fa fa-phone"></i> Cel. 55 64 03 11 08 </p>
                              <p><i class="fa fa-phone"></i> Cel. 55 30 31 02 73 </p>
                              <p><i class="fa fa-envelope"></i> contacto@cubikcam.com</p>
                         </div>
                         <div class="footer_teaser col-sm-6 col-md-6">
                              <h3>Ultimas Noticias</h3>
                              <ul class="media-list">

                                <?php  if (isset($this->tweets[1])){ ?>

                                   <li class="media">
                                        <?php $tweet = $this->tweets[1];
                                              $tweetText = $tweet->text;
//                                           $tweetText = preg_replace("#(http://|(www.))(([^s<]{4,68})[^W<]*)#", '<a href="http://$2$3" target="_blank">$1$2$4</a>', $tweetText);
                                             $tweetText = preg_replace("/@(w+)/", '<a href="http://www.twitter.com/$1" target="_blank">@$1</a>', $tweetText);
                                             $tweetText = preg_replace("/#(w+)/", '<a href="http://search.twitter.com/search?q=$1" target="_blank">#$1</a>', $tweetText);
                                          ?>
                                   <!--  <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> -->
                                        <a href="http://www.twitter.com/Cubikcam/status/<?php echo $tweet->id;?>" class="media-date"><?php $f = new DateTime($tweet->created_at); echo $f->format("d"); ?><span><?php $f = new DateTime($tweet->created_at); echo $f->format("M"); ?></span></a>
                                        <!-- <h5 class="media-heading"><a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#">Media heading, this is a title of a news...</a></h5>-->
                                        <p><?php echo $tweetText; ?></p>
                                   </li>
                              <?php } ?>
                              <?php  if (isset($this->tweets[2])){ ?>
                                   <li class="media"> 
                                        <?php $tweet = $this->tweets[2];
                                              $tweetText = $tweet->text;
//                                           $tweetText = preg_replace("#(http://|(www.))(([^s<]{4,68})[^W<]*)#", '<a href="http://$2$3" target="_blank">$1$2$4</a>', $tweetText);
                                             $tweetText = preg_replace("/@(w+)/", '<a href="http://www.twitter.com/$1" target="_blank">@$1</a>', $tweetText);
                                             $tweetText = preg_replace("/#(w+)/", '<a href="http://search.twitter.com/search?q=$1" target="_blank">#$1</a>', $tweetText);
                                          ?>
                                        <!-- <a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a>-->
                                         <a href="http://www.twitter.com/Cubikcam/status/<?php echo $tweet->id;?>" class="media-date"><?php $f = new DateTime($tweet->created_at); echo $f->format("d"); ?><span><?php $f = new DateTime($tweet->created_at); echo $f->format("M"); ?></span></a>
                                        <!--<h5 class="media-heading"><a href="http://www.leonart.gr/htmlthemes/restart_v3/index.html#">Media heading, of a news item.</a></h5>-->
                                        <p><?php echo $tweetText; ?></p>
                                   </li>
                              <?php } ?>
                              </ul>
                         </div>
                    </div>
               </div>
          </section>
          <section class="copyright">
               <div class="container">
                    <div class="row">
                         <div class="col-sm-6 col-md-6"> Cubikcam 2014 -  contacto@cubikcam.com</div>
                         <div class="text-right col-sm-6 col-md-6"> México Distrito Federal </div>
                    </div>
               </div>
          </section>
</footer>


