<?php 
date_default_timezone_set('America/Mexico_City');
$this->setEncoding('UTF-8'); 
?>
<!DOCTYPE html>
<html >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta "http-equiv"="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <?php echo $this->headMeta();   ?>


  <link href="/themecss/css" rel="stylesheet" type="text/css">
  <link href="/themecss/flexslider.css" rel="stylesheet" type="text/css">
  <link href="/themecss/animate.css" rel="stylesheet" type="text/css">
  <link href="/themecss/prettyPhoto.css" rel="stylesheet" type="text/css">
  <link href="/themecss/style.css" rel="stylesheet" type="text/css">
  
  <script type="text/javascript" src="/themejs/modernizr.custom.48287.js"></script>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  
  <?php echo $this->headLink(); ?>
  
  <?php echo $this->headTitle();  ?>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36784138-5', 'auto');
  ga('send', 'pageview');

</script>



</head>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_MX/sdk.js#xfbml=1&appId=1494405297469244&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<body style="background-color: #000;" <?php echo $this->colapsar;?> >
	
	<?php echo $this->render('menuhome.phtml');?>
	<div ng-app="app">
	<?php echo $this->layout()->content; ?>
	</div>
	
	<?php echo $this->render('footer.phtml');?>


<script src="/themejs/jquery-latest.min.js"></script>
<script>window.jQuery || document.write('<script src="/themejs/jquery-1.9.0.min.js"><\/script>')</script>
<script src="/themejs/bootstrap.min.js" type="text/javascript"></script>
<script src="/themejs/jquery.flexslider-min.js"></script>
<script src="/themejs/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="/themejs/jquery.isotope.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/themejs/jquery.ui.totop.js"></script>
<script type="text/javascript" src="/themejs/easing.js"></script>
<script type="text/javascript" src="/themejs/wow.min.js"></script>
<script type="text/javascript" src="/themejs/snap.svg-min.js"></script>
<script type="text/javascript" src="/themejs/restart_theme.js"></script>
<script type="text/javascript" src="/themejs/collapser.js"></script>



	<?php echo $this->headScript(); ?>

<div id="loadingModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <h2 style="text-align: center;margin:50px auto;"><i class="fa fa-cog fa-spin"></i> Enviando solicitud...</h2>
    </div>
  </div>
</div>

<!--   ANGULAR MODULES  -->
<script src="/js/angular.min.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script src="/js/angular-locale_es-mx.js"></script>

<script type="text/javascript" src="/js/ng-quick-date.js"></script>

<script src="/app/js/controllers/front.js"></script>

</body>
</html>

