<?php 
$accion	=	Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>

<header>
     <div class="container">
          <div class="navbar navbar-default" role="navigation">
               <div class="navbar-header"><a class="navbar-brand" href="/"> <img src="/images/cubikcam200x200.png" alt="optional logo" height="90" width="90"> <span class="logo_title">Cubik<strong>cam</strong></span> <span class="logo_subtitle">Los mejores momentos de tu vida están aquí</span> </a><a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="nb_left pull-left"> <span class="fa fa-reorder"></span></span> <span class="nb_right pull-right">menu</span> </a></div>
               <div class="collapse navbar-collapse">
                    <ul class="nav pull-right navbar-nav">
                         <li class="<?php echo ($accion=='index')?'active':''; ?>"><a href="/">Home</a></li>
                         <li class="<?php echo ($accion=='servicios')?'active':''; ?>"><a href="/servicios">Servicios</a></li>
                         <li class="<?php echo ($accion=='galerias')?'active':''; ?>"><a href="/galerias">Galerias</a></li>
                         <li class="<?php echo ($accion=='renta')?'active':''; ?>"><a href="/renta">Renta</a></li>
                        <!-- <li class="<?php echo ($accion=='blog')?'active':''; ?>"><a href="http://www.leonart.gr/htmlthemes/restart_v3/blog.html">Blog</a></li> -->
                    </ul>
               </div>
          </div>
          <div id="social_media_wrapper"> 
               <a target="_blank" href="https://www.facebook.com/cubikcam">
                    <i class="fa fa-facebook"></i>
               </a> 
               <a target="_blank" href="https://twitter.com/cubikcam">
                    <i class="fa fa-twitter"></i>
               </a> 
          </div>
     </div>
</header>